{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Về chúng tôi</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="titlepage">
                    <p>Khách sạn Sapphire Haven Hotel là một khách sạn 5 sao nằm ở trung tâm thành phố Hồ Chí Minh, Việt
                        Nam. Khách sạn được thành lập vào năm 2022 bởi tập đoàn Sapphire Group, một trong những tập đoàn
                        kinh doanh lớn nhất tại Việt Nam.</p>
                    <p>Ý tưởng xây dựng khách sạn Sapphire Haven Hotel bắt nguồn từ mong muốn mang đến cho du khách một
                        trải nghiệm nghỉ dưỡng đẳng cấp và sang trọng ngay giữa lòng thành phố Hồ Chí Minh. Tập đoàn
                        Sapphire Group đã dành nhiều năm để nghiên cứu và xây dựng khách sạn, với sự tham gia của các
                        kiến trúc sư và nhà thiết kế hàng đầu thế giới.</p>
                    <a class="read_more" href="Javascript:void(0)"> Đọc thêm</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    <figure><img src="static/images/about.png" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->

{% endblock %}
