{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Loại phòng</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_room -->
<div class="our_room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room1.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Tiêu Chuẩn 1 Giường Đơn</h3>
                        <p>Phòng thường có diện tích khoảng 20m² và có một giường đơn . Phòng có đầy đủ tiện nghi cần
                            thiết</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room2.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Tiêu Chuẩn 2 Giường Đơn</h3>
                        <p>Phòng thường có diện tích khoảng 25m² và có 2 giường đơn . Phòng có đầy đủ tiện nghi cần
                            thiết </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room3.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Superior Có Giường Cỡ King</h3>
                        <p>Phòng có giường đôi lớn với tầm nhìn ra ngôi làng Pháp và phong cảnh núi non, phòng được bài
                            trí trang nhã </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room4.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Superior Gia đình</h3>
                        <p>Với kích thước 40m² có 1 giường và 1 giường tầng.Với tầm nhìn ra cảnh núi non hoặc ngôi làng
                            xung quanh, phòng nghỉ có lối bài trí trang nhã </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room5.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Deluxe Có Giường Cỡ King</h3>
                        <p>Kích thước phòng 28 m².Phòng mang chủ đề Châu Âu này được bài trí trang nhã và có tầm nhìn ra
                            khu vực xung quanh.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="static/images/room6.jpg" alt="#"/></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Phòng Deluxe Gia đình</h3>
                        <p>Kích thước phòng 28 m².Phòng gia đình này có máy điều hòa, ấm đun nước điện và TV màn hình
                            phẳng. Căn này được trang bị 2 giường. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our_room -->
{% endblock %}
